@import "configuration"

header
  margin-top: 150px
  text-align: center
  font-size: 1.5em
  margin-bottom: 130px
  @media (max-width: $small-size)
    margin: 70px 0
    font-size: .9em

  .profile
    border-radius: 100px
    border: 2px solid white
    margin: 0 auto
    display: block

  h1
    margin: 30px 0 10px
    font-size: 2em
    font-weight: 900
    letter-spacing: -4px
    text-indent: -8px
    @media (max-width: $small-size)
      letter-spacing: -1.5px
      text-indent: -1.5px

  h2
    letter-spacing: .2px

  li
    font-size: 1.3em
    display: inline-block
    border: 1px solid white
    border-radius: 100px
    font-weight: bold
    margin: 20px 12px 0
    @media (max-width: $small-size)
      margin: 20px 7px 0

    a
      color: white
      padding: 20px 0
      display: inline-block
      border-radius: 100px
      text-decoration: none
      box-sizing: border-box
      text-align: center
      vertical-align: bottom
      height: 70px
      width: 70px
      @media (max-width: $small-size)
        height: 40px
        width: 40px
        padding: 11px

      img
        height: 1em
        margin-top: -1px

  .bbl a
    letter-spacing: -0.1em
    font-size: .7em
    padding-top: 25px
    @media (max-width: $small-size)
      padding: 14px 9px