@import "compass"
@import "compass/reset"
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap')
@import "header"
@import "article"

html
  background: url("../img/background.jpg") center center fixed

body
  font-family: "Source Code Pro", sans-serif
  background: repeating-linear-gradient(0.13turn, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%) no-repeat fixed
  color: white
  overflow: auto
  padding: 40px 0

a
  outline: none