$second-indent: 50px
$border-color: #999
@import "compass"
@import "compass/reset"
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap')

body
  font-family: "Source Code Pro", sans-serif
  width: 20cm
  margin: auto
  @media screen
    margin: 1cm auto
  text-align: justify
  line-height: 1.2em
  font-size: 10pt


a
  outline: none

*
  box-sizing: border-box

h1, h2, h3, h4
  font-weight: bold

h1
  i
    width: $second-indent
    text-align: center

dt
  float: left

ul
  padding-left: 20px

li
  list-style-type: circle

strong
  font-weight: bold

#container
  display: flex
  flex-direction: row

#first
  width: 33%
  padding-right: 30px

  #personal
    margin-bottom: 20px
    text-transform: uppercase

    h1

      #first-name
        font-size: 3em
        letter-spacing: 8.4px
      span
        display: block
        font-size: 2.49em
        line-height: 1em

    h2
      font-size: 20px
      text-align: center
      margin: 20px 0 40px

  ul
    padding-left: 15px
    li
      padding-left: 15px

  h3
    margin: 10px 0

    i
      width: 30px


#second
  $border-position: 24px
  width: 67%

  section
    margin-left: $border-position
    padding-left: $second-indent - $border-position
    border-left: 2px solid $border-color

  h1
    margin: 10px 0 10px
    font-size: 1.5em

  h2
    font-size: 1em
    margin: 2em 0 1em

  h3
    font-size: 1em
    margin: 10px 0

  #experience
    position: relative

    .xp
      h2
        display: inline-block
        font-size: 1.2em

        &:before
          content: "o"
          position: absolute
          left: $border-position - 3.5px

      &:first-child
        h2
          margin-top: 0

      h4
        margin-left: 7px
        display: inline-block
        font-weight: normal
        margin-top: 10px

        &:before
          content: " - "

    .tech
      li
        display: inline-block

        &:after
          content: ","
          margin-right: 5px

        &:last-child:after
          content: ""